{% extends "core/base.html" %}

{% block title %} 
    New Collection
{% endblock %}
{% load static %}

{% block content %}


    <div class="create-container">
        <div class="left-section">
            <img src="{% static 'images/fcgenerator.png' %}" alt="FC Generator Image" class="fc-generator-image">
        </div>
        <div class="right-section">
            <h1 class="righteous-regular">Flashcard Generator</h1>
            <div class="create-form">
                <h3 class="dm-sans-bold">Flashcard Collection Name:</h3>
                <form method="post" action="/create/">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="collectionname" class="form-control" placeholder="Enter collection name">                        
                    </div>
                    <button type="submit" class="upload-button">Upload</button>
                </form>
                {% if error_message %}
                <p class="error-message">{{ error_message }}</p>
                {% endif %}

            </div>
        </div>
    </div>

    <a href="/" class="home-link">
        <img src="{% static 'images/home.png' %}" alt="Home Icon" class="home-icon">
    </a>
{% endblock %}
