{% extends "core/base.html" %}

{% block title %} 
    Home
{% endblock %}    
{% load static %}

{% block content %}
<div class="header">
    <h1 class="righteous-regular">Home Page</h1>
    <img src="{% static 'images/homeimage.png' %}" alt="Home Image" class="home-image">
</div>
<div class="create-button">
    <a href="/create/">Create new flashcard collection</a>
</div>
<div style="margin: 50px;">
    <h3 class="dm-sans-bold">Collection Catalogue</h3>
    <div class="collection-grid">
        {% for collection in all_collections %}
            <div class="collection-item">
                {% for stack in collection.stack_set.all %}
                    <a href="/{{ collection.name}}/{{stack.id}}">{{ collection.name }}</a>
                    
                    <form method="post" action="#" class="delete-form">
                        {% csrf_token %}
                        <input type="hidden" name="name" value="{{ collection.name }}">
                        <button type="submit" name="delete" value="delete" class="delete-button">X</button>
                    </form>
                    
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>
{% endblock %}
