{% extends "core/base.html" %}

{% block title %} 
    Home
{% endblock %}    
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display+SC&family=Righteous&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1 class="righteous-regular">Home Page</h1>
        <img src="{% static 'images/homeimage.png' %}" alt="Home Image" class="home-image">
    </div>
    <div class="create-button">
        <a href="/create/">Create new flashcard collection</a>
    </div>
    <div style="margin: 50px;">
        <h3 class="dm-sans-bold">Collection Catalogue</h3>
        <div class="collection-grid">
            {% for collection in all_collections %}
                <div class="collection-item">
                    {% for stack in collection.stack_set.all %}
                        <a href="/{{ collection.name}}/{{stack.id}}">{{ collection.name }}</a>
                        
                        <form method="post" action="#">
                            {% csrf_token %}
                            <input type="hidden" name="name" value="{{ collection.name }}">
                            <button type="submit" name="delete" value="delete">X </button>
                        </form>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
{% endblock %}
